body {
    font-family: 'Arial', sans-serif;
    background-color:;
    margin: 0;
    padding: 0;
    background-image: url('/static/background.jpg'); 
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: lightseagreen;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: darkcyan;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkcyan;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

#students-section,
#courses-section,
#register-section {
    display: inline-block;
    vertical-align: top;
}

#studentsList,
#coursesList {
    margin-top: 15px;
}