<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src= "{{ url_for('static', filename='script.js') }}"></script>
    <title>University of Johanna and Joy</title>
</head>
<body>
    <header>    
        <h1>University of Johanna and Joy</h1>
    </header>
    
    <section id="students-section" class="common-section">
        <h2>Students</h2>
        <button id="getStudentsBtn">Get Students</button>
        <div id="studentsList"></div>
    </section>

    <section id="courses-section" class="common-section">
        <h2>Student Courses</h2>
        <label for="studentSsn">Student Social Security Number:</label>
        <input type="text" id="studentSsn">
        <button id="getCoursesBtn">Get Courses</button>
        <div id="coursesList"></div>
    </section>

    <section id="register-section">
        <h2>Register Student</h2>
        <form id="registerForm">
            <label for="ssn">Student Social Security Number:</label>
            <input type="text" id="ssn" name="ssn" required>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="program">Program:</label>
            <input type="text" id="program" name="program" required>
            <button type="submit">Register</button>
        </form>
    </section>
</body>
</html>
